<center>
  <div class="container">
    <main>
      <h1><%= t('.app_title') %></h1>
      <h2><%= t('.slogan') %></h2>
      <h3><%= link_to t('.explore_text'), cities_path %></h3>
    </main>
    
    <div class="row">
      <section>
        <div class="col-md-6">
<<<<<<< HEAD
          <i class="fa fa-users fa-4x"></i>
          <h3>Volunteers</h3>
=======
          <i class="fa fa-users fa-8x"></i>
          <h3><%= t('.volunteer').pluralize %></h3>
>>>>>>> 4cdcec18c55e41dadfc46983ec3eb1bc7c52b7b9
          <ul class="list-unstyled">
            <%= raw t('.volunteer_reasons') %>
          </ul>        
        </div>
        <div class="col-md-6">
<<<<<<< HEAD
          <i class="fa fa-building-o fa-4x"></i>
          <h3>Charities</h3>
=======
          <i class="fa fa-building-o fa-8x"></i>
          <h3><%= t('.charity').pluralize %></h3>
>>>>>>> 4cdcec18c55e41dadfc46983ec3eb1bc7c52b7b9
          <ul class="list-unstyled">
            <li>List your Charity for free</li>
            <li>Attract passion-driven volunteers</li>
            <li>Update your Charity's profile as needed</li>
            <li>Attract donors</li>
          </ul>
        </div>
      </section>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <% @category.each do |category| %>
          <%= link_to category.name, category_path(category.id), class: 'btn btn-primary listing' %>
        <% end %>
      </div>
    </div>
  </div>
</center>