<h1>Charity Results</h1>
  <% @charities.each do |charity| %>
    <%= content_tag(:h2, (link_to charity.name, charity_path(charity.id))) %>
      Posts: <%= link_to charity.posts.count, charity_posts_path(charity.id) %>
    <%= content_tag(:p, charity.overview) %>

    <h3>Posts by <%= charity.name %></h3>

    <% charity.posts.each do |post| %>
      <%= content_tag(:h3, post.title) %>
      <%= content_tag(:blockquote, post.content) %>
    <% end %>
     <hr>
  <% end %>