<div class = "col-md-4">
<center>
<h2>Edit Details for <%= @charity.name %></h1>

<%= simple_form_for @charity do |form| %>
<%= form.input :name %><br>
<%= form.input :image %><br>
<%= form.input :website %><br>
<%= form.input :real? %><br>
<%= form.association :category, label_method: :name %>
<%= form.submit "Update Charity Details" %>
<% end %>
</center>
</div>