<div class = "col-md-4">
<h2>Add A New Charity</h2>
<%= simple_form_for @charity do |form| %>
<%= form.input :name %><br>
<%= form.input :image %><br>
<%= form.input :website %><br>
<%= form.input :real?, as: :boolean, checked_value: true, unchecked_value: false%><br>
<%= form.association :category, label_method: :name %>
<%= form.submit "Add new charity" %>
<% end %>
</div>
