<% flash[:message] %>
<h2><%= @charity.name %></h2>

<%= link_to "Edit this charity", edit_charity_path(@charity.id) %>

<%= link_to "Delete this charity", {action: :destroy, id: @charity.id}, method: :delete %>

<%= image_tag @charity.image, width: 300 %>

<p>URL: <a href="<%= @charity.website %>" target=blank><%= @charity.website %></a></p>

<p>Status: 
	<% if @charity.real? == true %>
		<%= "This is a real charity." %>
	<% else %>
		<%= "This is an idea for a charity." %>
	<% end %>
</p>

<% if  @charity.category %>
<p>Category: <%= @charity.category.name %></p>
<% end %>

<hr>

<h3>Volunteer</h3>

<%= link_to "Current Volunteer Opportunities", charity_posts_path(@charity.id) %>

<hr>

<h3>Donations</h3>

<p>To learn about donating to our cause, please visit us <a href= "<%= @charity.website %>" target=blank>here</a> for more information.</p>

