<div class="container">
<% flash[:message] %>
  <div class="row">
    <h2><%= @charity.name %></h2>
    <%= link_to t('.edit_charity_text'), edit_charity_path(@charity.id) %>&nbsp;
    <%= link_to t('.delete_charity_text'), {action: :destroy, id: @charity.id}, method: :delete %>&nbsp;
    <%= image_tag @charity.image, width: 300 %>
    <p><%= t('.url_text') %> <%= link_to @charity.website, @charity.website, target: "_blank" %></p>
    <p><%= t('.status_heading') %> 
      <%= (@charity.real?)? t('.real_deal') : t('.charitable_idea') %>
      </p>
    <p><%= t '.category_heading', cat: @charity.category.name %></p>
    <hr>
  </div>
  <div class="row">
    <h3><%= t('.volunteer') %></h3>
    <%= link_to t('.volunteer_link'), charity_posts_path(@charity.id) %>
    <hr>
  </div>
  <div class="row">
    <h3><%= t('.donations') %></h3>
    <%= link_to t('.donation_link_text'), @charity.website, target: "_blank" %>
  </div>
</div>
