<div class = "col-md-4">
<h2>Edit a Listing</h2>

<%= simple_form_for @post do |form| %>
<%= form.input :title %>
<%= form.input :type %>
<%= form.input :content %>
<%= form.association :charity, label_method: :name %>
<%= form.submit "Edit Listing" %>
<% end %>
</div>
