<div class="container"
	<div class="row>"
		<div class="col-md-4">
			<h2><%= t('.post_edit')%></h2>
			<%= simple_form_for [@charity, @post] do |form| %>
				<%= form.input :title %>
				<%= form.input :commitment, label: "Time commitment", :collection => ['Once', 'Weekly', 'Monthly', 'Short term', "Long term"] %>
				<%= form.input :content %>
				<%= form.input :contact, label: "Contact (email address or URL to apply)" %>
				<%= form.submit "Edit Listing" %>
				<% end %>
		</div>
	</div>
</div>