<h2>Volunteer Opportunities for <%= @charity.name %></h2>

<%= link_to "Add a new volunteer listing", new_charity_post_path(@charity.id) %>

<%= link_to "Return to charity detail page", charity_path(@charity.id) %>

<hr>

<% @post.each do |post| %>
	<%= link_to post.title, charity_post_path(@charity, post) %><br>
	<%= post.type %><br>
	<%= post.content %><br>
	<hr>
<% end %>