<div class = "containter">
<h3> on: <%= @post.updated_at.month%> / <%= @post.updated_at.day %>  - 
 <%= @post.title %> </h3> <br>
<h4><%= @post.content %></h4>
<h4> for: <%= @post.charity.name %></h4>
</div>