<h2><%= @post.title %></h2>
<h3><%= @charity.name %></h3>

<hr>

<%= link_to t('.post_edit_this'), edit_charity_post_path(@charity, @post.id) %><br>

<%= link_to t('.post_delete'), {action: :destroy, id: @post.id}, method: :delete %><br>

<%= link_to t('.post_return'), charity_posts_path(@charity, @post.id) %>

<hr>

<p><%= t('.post_time') %><%= @post.commitment %></p>

<p><%= t('.post_description') %><%= @post.content %></p>