
<div class="container">
	<div class="col-md-3">
		<aside class="header">
			<center>
			<h2><%= t('.app_title') %></h2>
			<%= link_to t('.add_volunteer_listing'), new_post_path %><br>
			<%= link_to t('.add_charity_listing'), new_charity_path %><br>
			<%= link_to t('.find_volunteer_link'), '#' %><br>
			<%= render 'layouts/search' %>
			</center>
		</aside>
	</div>

	<div class="col-md-9">
		<div class="container-fluid">
			<header class="header">
				<h2> <%= @city.name.downcase %> </h2>
			</header>
			
			<% @categories.each do |category|%>
					<div class="col-md-3" >
						<h5><%= link_to category.name, category_path(category.id) %> </h5>
							<% @charities.each do |charity| %>
								<% if charity.category_id == category.id %>
									<h6>+++<%= link_to charity.name, charity_path(charity.id), class: 'charity' %></h6>

								<% end %>
							<% if Charity.where(category_id: @category.id).count == 0 %>
							No Charities yet
							<% end %>
							<% end %>
					</div>
					<% end %>
		</div>
	</div>
</div>
