<div class="container">
	<h2><%= @category.name %> Charity Listings</h2>


	<% @charities.each do |charity| %>
	<% if charity.categeory_id = @category.id %>
	<%= charity.posts.last.updated_at %> - 
	<%= link_to charity.posts.last.title, charity_post_path(@post.id) %> posted by 
	<%= link_to charity.name, charity_path %> <br>
	<% end %>
	<% end %>
    <%= link_to t('.new_charity_link'), new_charity_path %>
</div>
