<div class="container">
	<h2><%= @category.name %> Charity Listings</h2>


	<% @charities.each do |charity| %>
		<% if charity.category_id == @category.id %>
			<%= charity.posts.each do |p| %>
		<%= p.updated_at %> - 
		<%= link_to p.title, charity_post_path(p.id) %> posted by 
			<%= link_to charity.name, charity_path %> <br>
		<% end %>
	<% end %>
	<% end %>
    <%= link_to t('.new_charity_link'), new_charity_path %>
</div>
